body{background-color:skyblue;font-family: Arial, Verdana, Sans-Serif}
.center{text-align: center;}
    #contact {font-weight: bold;
    font-family: Georgia, “Times New Roman”, serif;
    font-style: italic;
    font-size: 0.7em}